#Reset button -- up button
#Start button -- down button
#UART Button
#NET "clk_sample_n"  LOC = "L4"
NET "adc_dav_1" TNM_NET = "adc_dav_1";
TIMESPEC "TS_adc_dav_1" = PERIOD "adc_dav_1" 20 ns HIGH 50 %;
NET "sys_clk_in" TNM_NET = "sys_clk_in";
TIMESPEC "TS_sys_clk_in" = PERIOD "sys_clk_in" 10 ns HIGH 50 %;
NET "adc_dav_2" TNM_NET = "adc_dav_2";
TIMESPEC "TS_adc_dav_2" = PERIOD "adc_dav_2" 20 ns HIGH 50 %;
INST "data_in_1<0>" TNM = "data_in_1";
INST "data_in_1<1>" TNM = "data_in_1";
INST "data_in_1<10>" TNM = "data_in_1";
INST "data_in_1<11>" TNM = "data_in_1";
INST "data_in_1<12>" TNM = "data_in_1";
INST "data_in_1<13>" TNM = "data_in_1";
INST "data_in_1<14>" TNM = "data_in_1";
INST "data_in_1<15>" TNM = "data_in_1";
INST "data_in_1<2>" TNM = "data_in_1";
INST "data_in_1<3>" TNM = "data_in_1";
INST "data_in_1<4>" TNM = "data_in_1";
INST "data_in_1<5>" TNM = "data_in_1";
INST "data_in_1<6>" TNM = "data_in_1";
INST "data_in_1<7>" TNM = "data_in_1";
INST "data_in_1<8>" TNM = "data_in_1";
INST "data_in_1<9>" TNM = "data_in_1";
INST "data_in_2<0>" TNM = "data_in_2";
INST "data_in_2<1>" TNM = "data_in_2";
INST "data_in_2<10>" TNM = "data_in_2";
INST "data_in_2<11>" TNM = "data_in_2";
INST "data_in_2<12>" TNM = "data_in_2";
INST "data_in_2<13>" TNM = "data_in_2";
INST "data_in_2<14>" TNM = "data_in_2";
INST "data_in_2<15>" TNM = "data_in_2";
INST "data_in_2<2>" TNM = "data_in_2";
INST "data_in_2<3>" TNM = "data_in_2";
INST "data_in_2<4>" TNM = "data_in_2";
INST "data_in_2<5>" TNM = "data_in_2";
INST "data_in_2<6>" TNM = "data_in_2";
INST "data_in_2<7>" TNM = "data_in_2";
INST "data_in_2<8>" TNM = "data_in_2";
INST "data_in_2<9>" TNM = "data_in_2";
TIMEGRP "data_in_1" OFFSET = IN 5 ns BEFORE "adc_dav_1" HIGH ;
TIMEGRP "data_in_2" OFFSET = IN 5 ns BEFORE "adc_dav_2" HIGH ;
#AREA_GROUP "AG_CORRELATOR/ADC_CONTROL/ADC_FIFO1" RANGE = SLICE_X82Y95:SLICE_X91Y90 ;
#AREA_GROUP "AG_CORRELATOR/ADC_CONTROL/ADC_FIFO1" RANGE = RAMB16_X7Y11:RAMB16_X7Y11 ;
#INST "CORRELATOR/ADC_CONTROL/ADC_FIFO1" AREA_GROUP = "AG_CORRELATOR/ADC_CONTROL/ADC_FIFO1" ;
#AREA_GROUP "AG_CORRELATOR/ADC_CONTROL/ADC_FIFO2" RANGE = SLICE_X84Y59:SLICE_X91Y54 ;
#AREA_GROUP "AG_CORRELATOR/ADC_CONTROL/ADC_FIFO2" RANGE = RAMB16_X7Y7:RAMB16_X7Y6 ;
#INST "CORRELATOR/ADC_CONTROL/ADC_FIFO2" AREA_GROUP = "AG_CORRELATOR/ADC_CONTROL/ADC_FIFO2" ;

#PACE: Start of Constraints generated by PACE

#PACE: Start of PACE I/O Pin Assignments
NET "adc_dav_1"  LOC = "L2" | IOSTANDARD = LVCMOS25 ; 
NET "adc_dav_2"  LOC = "AA2" | IOSTANDARD = LVCMOS25 ; 
NET "clk_sample_p_1"  LOC = "P7" | SLEW = FAST  | IOSTANDARD = LVCMOS25  | DRIVE = 16 ; 
NET "clk_sample_p_2"  LOC = "U8" | SLEW = FAST  | IOSTANDARD = LVCMOS25  | DRIVE = 16 ; 
NET "data_in_1[0]"  LOC = "N1" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_1[10]"  LOC = "N6" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_1[11]"  LOC = "M1" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_1[12]"  LOC = "L1" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_1[13]"  LOC = "K3" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_1[14]"  LOC = "K4" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_1[15]"  LOC = "N7" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_1[1]"  LOC = "M3" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_1[2]"  LOC = "M4" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_1[3]"  LOC = "R9" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_1[4]"  LOC = "P9" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_1[5]"  LOC = "N2" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_1[6]"  LOC = "M2" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_1[7]"  LOC = "L4" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_1[8]"  LOC = "L5" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_1[9]"  LOC = "N5" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_2[0]"  LOC = "AB2" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_2[10]"  LOC = "W5" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_2[11]"  LOC = "AB1" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_2[12]"  LOC = "AA1" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_2[13]"  LOC = "W4" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_2[14]"  LOC = "W3" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_2[15]"  LOC = "V8" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_2[1]"  LOC = "AB4" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_2[2]"  LOC = "AB3" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_2[3]"  LOC = "W8" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_2[4]"  LOC = "W7" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_2[5]"  LOC = "AA4" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_2[6]"  LOC = "AA3" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_2[7]"  LOC = "Y5" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_2[8]"  LOC = "Y4" | IOSTANDARD = LVCMOS25 ; 
NET "data_in_2[9]"  LOC = "W6" | IOSTANDARD = LVCMOS25 ; 
NET "delay_sel[0]"  LOC = "AD11" | IOSTANDARD = LVCMOS25 ; 
NET "delay_sel[1]"  LOC = "AF8" | IOSTANDARD = LVCMOS25 ; 
NET "done"  LOC = "AC4" | IOSTANDARD = LVCMOS25  | SLEW = SLOW  | DRIVE = 8 ; 
NET "failure"  LOC = "AA5" | IOSTANDARD = LVCMOS25  | SLEW = SLOW  | DRIVE = 8 ; 
NET "start_button"  LOC = "AF9" | IOSTANDARD = LVCMOS25 ; 
NET "sys_clk_in"  LOC = "AJ15" | IOSTANDARD = LVCMOS25 ; 
NET "sys_rst"  LOC = "AC11" | IOSTANDARD = LVCMOS25 ; 
NET "uart_rx"  LOC = "AJ8" | IOSTANDARD = LVCMOS25 ; 
NET "uart_tx"  LOC = "AE7" | IOSTANDARD = LVCMOS25  | DRIVE = 8  | SLEW = SLOW ; 

#PACE: Start of PACE Area Constraints

#PACE: Start of PACE Prohibit Constraints

#PACE: End of Constraints generated by PACE
